@import '../_base/_variables.scss';
@import '../_base/_mixins.scss';


// Margin helpers

.s-zero-margin-top {
	margin-top: 0 !important;
}
.s-zero-margin-bottom {
	margin-bottom: 0 !important;
}
.s-plus-margin-left {
	margin-left: $plus-margin !important;
}
.s-plus-margin-right {
	margin-right: $plus-margin !important;
}
.s-plus-margin-top {
	margin-top: $plus-margin !important;
}
.s-plus-margin-bottom {
	margin-bottom: $plus-margin !important;
}
.s-plus2x-margin-top {
	margin-top: $plus-margin * 2 !important;
}
.s-plus2x-margin-bottom {
	margin-bottom: $plus-margin * 2 !important;
}
.s-plus2x-margin-left {
	margin-left: $plus-margin * 2 !important;
}
.s-plus2x-margin-right {
	margin-right: $plus-margin * 2 !important;
}
.s-plus3x-margin-top {
	margin-top: $plus-margin * 3 !important;
}
.s-plus3x-margin-bottom {
	margin-bottom: $plus-margin * 3 !important;
}
.s-plus3x-margin-left {
	margin-left: $plus-margin * 3 !important;
}
.s-plus3x-margin-right {
	margin-right: $plus-margin * 3 !important;
}
.s-plus4x-margin-top {
	margin-top: $plus-margin * 4 !important;
}
.s-plus4x-margin-bottom {
	margin-bottom: $plus-margin * 4 !important;
}
.s-plus4x-margin-left {
	margin-left: $plus-margin * 4 !important;
}
.s-plus4x-margin-right {
	margin-right: $plus-margin * 4 !important;
}


// Line height
.s-zero-line-height {line-height: normal;}

// SVG fillers
.s-fill-one {
	fill: $color-three;
}