@import '_variables.scss';
@import '_mixins.scss';

body {
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	line-height: em(23);
	font-weight: 300;
	color: $color-four;
}

h1 {
	font-size: em(18);
}

h2 {
	font-size: em(25);
	@media (min-width: $break-medium) {
		font-size: em(39);
	}
}

h3 {
	font-weight: 400;
	font-size: em(19);
	@media (min-width: $break-medium) {
		font-size: em(23);
	}
}

h4 {
	color: $color-three;
	font-weight: 400;
	font-size: em(27);
}

h5 {
	color: $color-three;
	font-weight: 700;
	font-size: em(21);
}