@import '../_base/_variables.scss';
@import '../_base/_mixins.scss';

.l-container-sub {
	min-width: em(320);
	max-width: em(1200);
	margin: 0 auto;
	padding: 0 em(18);
}

.l-container__one {
	background-color: $color-one;
}

.l-container__two {
	background-color: $color-two;
}

.l-container__three {
	background-color: $color-three;
}

.l-container__four {
	background-color: $color-five;
}

.l-container__five {
	background-color: $color-six;
}