@import '../_base/_variables.scss';
@import '../_base/_mixins.scss';

// Header
.l-header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9999999;
	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: em(2);
		background: linear-gradient(to right, lighten($color-two,50%) 0%,$color-five 50%,lighten($color-two,50%) 100%);
	}
}

// Navbar
.l-navbar {
	border-radius: 0;
	border: none;
	background-color: transparent;
	margin: em(15) 0;
	position: relative;
	z-index: 99999;

	// Logo
	.l-navbar__logo {
		display: inline-block;
		margin-top: 0;
		position: relative;
		transition: margin 0.5s ease-in-out;
		z-index: 9999;
		h1 {
			text-indent: em(-99999);
			overflow: hidden;
			margin: 0;
			padding: 0;
			width: em(176);
			height: em(46);
			background: url('../images/logo.png') no-repeat;
			background-size: 100%;
			transition: all 0.5s ease-in-out;
			line-height: 0;
		}
	}

	// Navbar custom
	.l-navbar-collapse {
		margin-left: em(-18);
		margin-right: em(-18);
		padding: 0;
		position: relative;

		// Languages change
		.l-languages {
			display: inline-block;
			list-style: none;
			margin: 0;
			padding: 0;
			line-height: 0;
			position: absolute;
			top: em(28);
			left: em(18);
			z-index: 9999;
			> li {
				display: inline-block;
				margin: 0 em(3);
				opacity: 0.5;
				&.active {
					opacity: 1;
					> a {
						cursor: default;
					}
				}
			}
			.pt > a, .en > a {
				display: block;
				margin: 0;
				padding: 0;
				width: em(16);
				height: em(11);
				text-indent: em(-99999);
				overflow: hidden;
				background: url('../images/languages.gif') no-repeat;
			}
			.en > a {
				background-position: 0 em(-11);
			}
		}

		// Menu
		.l-navbar-nav {
			padding: 0;
			margin: 0;
			font-size: em(23);
			background-color: #efefef;
			overflow: hidden;
			> li {
				text-align: right;
				margin-right: em(30);
				> a {
					color: $color-three;
					padding: em(12) 0;
					display: inline-block;
					border-bottom: em(1) solid transparent;
					transition: all 0.3s ease-in-out;
					&:hover {
						color: $color-two;
						border-bottom: em(3) solid lighten($color-two,10%);
					}
				}
				&.active {
					> a, > a:hover {
						background-color: transparent;
						border-bottom: em(3) solid $color-three;
						color: $color-two;
					}
				}
			}
		}
	}

	// Navbar Mediaqueries

	@media (min-width: $break-small) and (max-width: $break-medium-minus) {
		margin: em(20) 0;
	}
	@media (min-width: $break-medium) {
		margin: em(30) 0;
		.l-navbar__logo {
			margin-top: em(10);
		}
		.l-navbar-collapse {
			margin-left: 0;
			margin-right: 0;
			.l-languages {
				top: 0;
				left: auto;
				right: 0;
			}
			.l-navbar-nav {
				width: auto;
				margin-top: em(18);
				font-size: em(16);
				background-color: transparent;
				> li {
					margin-right: 0;
					text-align: center;
					padding: 0 em(18);
					&:first-child {
						padding-left: 0;
					}
					&:last-child {
						padding-right: 0;
					}
					> a {
						padding: em(12) 0;
					}
				}
			}
		}
	}
	@media (min-width: $break-small) {
		.l-navbar__logo {
			h1 {
				width: em(200);
				height: em(52);
			}
		}
	}
	@media (min-width: $break-large) {
		.l-navbar__logo {
			margin-top: 0;
			h1 {
				width: em(309);
				height: em(80);
			}
		}
	}
}

// Toggle menu (burger) customization
.navbar-default {
	border: none;
	.navbar-toggle {
		margin: em(9) 0 0 0;
		border: none;
		transition: background-color 0.5s ease-in-out;
		z-index: 999999;
		&:hover, &:focus {
			background-color: #efefef;
		}
		.icon-bar {
			background-color: #626262;
			width: em(33);
			height: em(3);
			border-radius: em(40);
		}
	} 
}